<!-- Page-header start -->
<div class="">
  <div class="page-header card">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <span><i class="icofont icofont-home bg-c-pink"></i></span>
          <div class="d-inline">
            <span class="d-block">
              <h4>Gestion Utilisateurs</h4>
            </span>
            <span>Gestion Utilisateurs page desc</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/'">
                <i class="icofont icofont-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item">
              <a>Gestion Utilisateurs</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page-header end -->

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Gestion Utilisateurs'" [classHeader]="true" [blockClass]="'table-border-style'">
      <div class="table-responsive">

      </div>
      <div style="margin: 60px;">
        <table class="table table-hover" >
          <thead>
            <tr style="text-align: center;">
              <th scope="col">Nom et Prénom</th>
              <th scope="col">Email</th>
              <th scope="col">Matricule</th>
              <th scope="col">Date de naissance7777</th>
              <th scope="col">Région</th>
              <th scope="col">Numéro de Télephone</th>
              <th scope="col">Action</th>

            </tr>
          </thead>
          <ng-container *ngIf="this.chauffeurs.length>0">
          <tbody *ngFor="let chauffeur of this.chauffeurs">
            <tr style="text-align: center;">
              <th scope="row">{{chauffeur.nomPrenom}}</th>
              <td>{{chauffeur.email}}</td>
              <td>{{chauffeur.matricule}}</td>
              <td>{{chauffeur.dns}}</td>
              <td>{{chauffeur.region}}</td>
              <td>{{chauffeur.tel}}</td>
              <td>
                <button class="btn hor-grd btn-grd-info" id="{{chauffeur.id_chauffeur}}" (click)="update(chauffeur.id_chauffeur)"><i
                    class="icofont icofont-edit-alt"></i>Modifier</button>
                <!-- <button class="btn hor-grd btn-grd-danger" id="{{chauffeur.id_chauffeur}}" (click)="desactiver(chauffeur.id_chauffeur)"><i
                    class="icofont icofont-ui-delete"></i>Désactiver</button> -->
                    <button class="btn hor-grd btn-grd-success" id="{{chauffeur.id_chauffeur}}" (click)="activer(chauffeur.id_chauffeur)"><i
                      class="icofont icofont-ui-delete"></i>Activer </button>
              </td>
            </tr>


          </tbody>
          </ng-container>
        <!-- <ng-template *ngIf="this.chauffeurs.length==0">
          <tbody>
            <tr style="text-align: center;">
              <td colspan="7">
                Pas de chauffeurs 
              </td>
            </tr>
          </tbody>
          </ng-template> -->
        </table>
      </div>
    </app-card>
  </div>
</div>




