<div class="row">

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-users-social bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">Total</span>
        <h4>{{this.chauffeursActif+this.chauffeursInactif}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-users-social m-r-10"></i>Chauffeurs
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-checked bg-c-green card1-icon"></i>
        <span class="text-c-green f-w-600">Actifs</span>
        <h4>{{this.chauffeursActif}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-green f-16 icofont icofont-verification-check m-r-10"></i>Chauffeurs
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card3 end -->
  <!-- card4 start -->
  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-close bg-c-pink card1-icon"></i>
        <span class="text-c-pink f-w-600">Inactifs</span>
        <h4>{{this.chauffeursInactif}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-close m-r-10"></i>Chauffeurs
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-car-alt-1 bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">Total</span>
        <h4>{{this.voituresActif+this.voituresInActif}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-users-social m-r-10"></i>Voitures
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-checked bg-c-green card1-icon"></i>
        <span class="text-c-green f-w-600">Actifs</span>
        <h4>{{this.voituresActif}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-green f-16 icofont icofont-verification-check m-r-10"></i>Voitures
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card3 end -->
  <!-- card4 start -->
  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-close bg-c-pink card1-icon"></i>
        <span class="text-c-pink f-w-600">Inactifs</span>
        <h4>{{this.voituresInActif}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-close m-r-10"></i>Voitures
          </span>
        </div>
      </div>
    </div>
  </div>


  <!-- Statistics Start -->
  <div class="col-md-12 col-xl-12">
    <app-card [title]="'Statstiques'" [classHeader]="true">
      <!-- <div class="container"> -->

      <div class="row">

        <div class="col-md-4 offset-md-0">
          <div class="input-group">

            <select ngModel={{-1}} name="chauffeur" #chauffeur="ngModel" class="form-control">
              <option disabled [value]="-1">Séléctionner un chauffeur</option>
              <ng-container *ngFor="let chauffeur of this.chauffeursAll;let i=index;">

                <option [value]="chauffeur.id_chauffeur">
                  {{chauffeur.matricule+' ** '+chauffeur.nomPrenom}}
                </option>
              </ng-container>

            </select>
          </div>
        </div>

        <div class="col-md-3 offset-md-0">
          <div class="input-group">
            <select ngModel={{-1}} name="mois" #mois="ngModel" class="form-control" required>
              <option disabled [value]="-1">Séléctionner un moi</option>
              <ng-container *ngFor="let moi of this.listMois;let i=index;">

                <option [value]="moi.key">
                  {{moi.value}}
                </option>
              </ng-container>

            </select>
          </div>
        </div>


        <div class="col-md-3 offset-md-0">
          <div class="input-group">
            <select ngModel={{-1}} name="annee" #annee="ngModel" class="form-control" required>
              <option disabled [value]="-1">Séléctionner une année</option>
              <ng-container *ngFor="let annee of this.listYears;let i=index;">

                <option [value]="annee">
                  {{annee}}
                </option>
              </ng-container>

            </select>
          </div>
        </div>
        <div class="col-md-2 offset-md-0 col-6 offset-4">

          <button type="button" (click)="submit(annee.value,chauffeur.value,mois.value)"
            class="btn btn-primary">Valider</button>
        </div>
      </div>

      

         
        
      <ng-container>


        <div *ngIf="this.list.length===0" id="line-example" class="line-example mt-5">
              <div class="d-flex justify-content-center">


              <div style="height:300px;">
                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                  <span class="sr-only">Loading...</span>
                </div>              
                <div class="spinner-grow text-dark" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                
              </div>


            </div>

          </div>
        
     </ng-container>

     <div id="line-example" class="line-example mt-5">
      <div id="statistics-chart" style="height:300px;"></div>
    </div>

      
    </app-card>
  </div>






  <!-- Statistics Start -->
  <!-- <div class="col-md-12 col-xl-12">
      <app-card [title]="'Statistics'" [classHeader]="true">
        <span class="code-header"><span class="text-muted">Get 15% Off on <a href="https://www.amcharts.com/" target="_blank">amCharts</a> licences. Use code "codedthemes" and get the discount.</span></span>
        <div id="line-example" class="line-example">
          <div id="statistics-chart" style="height:300px;"></div>
        </div>
      </app-card>
    </div> -->


  <!-- Statistics card start -->
  <!-- <div class="col-md-12 col-xl-4">
      <div class="card widget-statstic-card">
        <div class="card-header">
          <div class="card-header-left">
            <h5>Statistics</h5>
            <p class="p-t-10 m-b-0 text-c-blue">Compared to last week</p>
          </div>
        </div>
        <div class="card-block">
          <i class="icofont icofont-presentation-alt st-icon bg-c-blue"></i>
  
          <div class="text-left">
            <h3 class="d-inline-block">5,456</h3>
            <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i>
            <span class="f-right">23%</span>
          </div>
  
        </div>
      </div>
    </div> -->
  <!-- Statistics card end -->
  <!-- Statistics card start -->
  <!-- <div class="col-md-6 col-xl-4">
      <div class="card widget-statstic-card">
        <div class="card-header">
          <div class="card-header-left">
            <h5>Unique visitor</h5>
            <p class="p-t-10 m-b-0 text-c-pink">55% from last 28 hours</p>
          </div>
        </div>
        <div class="card-block">
          <i class="icofont icofont-users-social st-icon bg-c-pink txt-lite-color"></i>
  
          <div class="text-left">
            <h3 class="d-inline-block">3,874</h3>
            <i class="icofont icofont-long-arrow-down text-c-pink f-30 "></i>
          </div>
        </div>
      </div>
    </div> -->
  <!-- Statistics card end -->
  <!-- Statistics card start -->
  <!-- <div class="col-md-6 col-xl-4">
      <div class="card widget-statstic-card">
        <div class="card-header">
          <div class="card-header-left">
            <h5>New orders</h5>
            <p class="p-t-10 m-b-0 text-c-yellow">54% From last month</p>
          </div>
        </div>
        <div class="card-block">
          <i class="icofont icofont-chart-line st-icon bg-c-yellow"></i>
  
          <div class="text-left">
            <h3 class="d-inline-block">5,456</h3>
            <i class="icofont icofont-long-arrow-up text-c-green f-30 "></i>
          </div>
        </div>
      </div>
    </div> -->
  <!-- Statistics card end -->

  <!-- email Sent Start -->
  <!-- <div class="col-md-12">
      <app-card [title]="'Email sent'" [cardClass]="'email-sent-card'" [classHeader]="true">
        <span class="code-header"><span class="text-muted">Get 15% Off on <a href="https://www.amcharts.com/" target="_blank">amCharts</a> licences. Use code "codedthemes" and get the discount.</span></span>
        <div id="email-sent" style="max-width:100%;height:400px;"></div>
      </app-card>
    </div> -->
  <!-- email Sent End -->
</div>