<ng-container *ngIf="this.voituresAffectes">
    <div class="">
      
      <!-- Page-header start -->
      <div class="page-header card">
        <div class="row align-items-end">
          <div class="col-lg-8">
            <div class="page-header-title">
              <span>
                <i class="icofont icofont-car-alt-1 bg-c-green card1-icon"></i>
              </span>
              <div class="d-inline">
                <span class="d-block">
                  <h4>Gestion Des Affectations Chauffeur Voiture</h4>
                </span>
                <span>                
                  Dans cette page le chef service a l'accés total pour gérer et controler toutes les affectations des chauffeurs aux voitures !
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="page-header-breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item">
                  <a [routerLink]="'/'">
                    <i class="icofont icofont-car-alt-1"></i>
                  </a>
                </li>
                <li class="breadcrumb-item">
                  <a>Affectations Chauffeur Voiture</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Page-header end -->
      <button class="btn hor-grd btn-grd-primary" (click)="Affecter()"><i
        class="icofont icofont-ui-add"></i>Affecter</button>
      <div class="row">
        <div class="col-sm-12" >
          <app-card [title]="'Gestion Des Affectations Chauffeur Voiture'" [classHeader]="true" [blockClass]="'table-border-style'">
            
            <div class="table-responsive">
      
            <div style="margin: 60px;overflow-x:auto;">
              <table class="table table-hover" >
                <thead>
                  <ng-container matColumnDef="actions">
                    <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row" >
                         <button mat-button >Edit</button>
                    </mat-cell>
                  </ng-container>
                  <tr style="text-align: center;">
                    <th scope="col">Numéro Affectation</th>
                    <th scope="col">Matricule Voiture</th>
                    <th scope="col">Type</th>
                    <th scope="col">Chauffeur</th>
                    <th scope="col">Actions</th>

                  </tr>
                </thead>
                <ng-container *ngIf="this.voituresAffectes.length===0">

                  <tbody>
                    <tr style="text-align: center;">
                     
                     <td colspan="6">
                       Pas d'affectations !
                     </td>
                    </tr>      
                  </tbody>              
                </ng-container>
                <ng-container *ngIf="this.voituresAffectes.length>0">

                  <tbody *ngFor="let affectation of this.voituresAffectes">
                    <tr style="text-align: center;">
                      <th scope="row">{{affectation.id_affecter_v_chauffeur}}</th>    
                      <th>{{affectation.matricule}}</th>                    
                      <td>{{affectation.type}}</td>
                      <td>{{affectation.nomPrenom}}</td>
                     <td>
                        <button class="btn hor-grd btn-grd-info" id="{{affectation.id_affecter_v_chauffeur}}" (click)="updateAffectation({'id_affectation':affectation.id_affecter_v_chauffeur,'id_chauffeur':affectation.id_chauffeur,'id_voiture':affectation.id_voiture})"><i
                            class="icofont icofont-edit-alt"></i>Modifier</button>&nbsp;
                        <button class="btn hor-grd btn-grd-danger" id="{{affectation.id_affecter_v_chauffeur}}" (click)="activerDesactiverAffectation(affectation.id_affecter_v_chauffeur)"><i
                            class="icofont icofont-trash"></i>Supprimer</button>&nbsp;
                      
                      </td>
                    </tr>      
                  </tbody>              
                </ng-container>
              </table>
            </div>
          </div>



          </app-card>
        </div>


        <div class="col-sm-12" >
          <app-card [title]="'Historique Des Affectations Chauffeur Voiture'" [classHeader]="true" [blockClass]="'table-border-style'">
            
            <div class="table-responsive">
      
            <div style="margin: 60px;overflow-x:auto;">
              <table class="table table-hover" >
                <thead>
                  <ng-container matColumnDef="actions">
                    <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row" >
                         <button mat-button >Edit</button>
                    </mat-cell>
                  </ng-container>
                  <tr style="text-align: center;">
                    <th scope="col">Numéro Affectation</th>
                    <th scope="col">Matricule Voiture</th>
                    <th scope="col">Type</th>
                    <th scope="col">Chauffeur</th>

                  </tr>
                </thead>
                <ng-container *ngIf="this.voituresNonAffectees.length===0">

                  <tbody>
                    <tr style="text-align: center;">
                     
                     <td colspan="6">
                       Pas de données !
                     </td>
                    </tr>      
                  </tbody>              
                </ng-container>
                <ng-container *ngIf="this.voituresNonAffectees.length>0">

                  <tbody *ngFor="let affectation of this.voituresNonAffectees">
                    <tr style="text-align: center;">
                      <th scope="row">{{affectation.id_affecter_v_chauffeur}}</th>    
                      <th>{{affectation.matricule}}</th>                    
                      <td>{{affectation.type}}</td>
                      <td>{{affectation.nomPrenom}}</td>                     
                    </tr>      
                  </tbody>              
                </ng-container>
              </table>
            </div>
          </div>



          </app-card>
        </div>
  
      
  
        
    
       
        </div>
      </ng-container>