
<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form *ngIf="this.id>0&&this.voiture&&!this.show" name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate> 
<div  class="modal-body" >
        <div class="form-group">
            <label for="exampleInputMat">Matricule</label>
            <input type="text" class="form-control" id="exampleInputMat" placeholder="Matricule" name="matricule"
                [(ngModel)]="this.voiture.matricule" #matricule="ngModel"
                [ngClass]="{ 'is-invalid': ( matricule.invalid) && matricule.touched }" required />
            <div *ngIf="(matricule.invalid) && matricule.touched" class="invalid-feedback">
                <div *ngIf="matricule.errors.required">Matricule Obligatoire !!</div>
            </div>
        </div>        
        <div class="form-group">
            <label for="exampleInputType">Type</label>
            <input type="text" class="form-control" id="exampleInputType" placeholder="Type" name="type"
                [(ngModel)]="this.voiture.type" #type="ngModel"
                [ngClass]="{ 'is-invalid': ( type.invalid) && type.touched }" required  />
            <div *ngIf="( type.invalid) && type.touched" class="invalid-feedback">
                <div *ngIf="type.errors.required">Type Obligatoire !!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputDMC">DMC</label>
            <input type="date" class="form-control" id="exampleInputDMC" placeholder="DMC" name="dmc"
                [(ngModel)]="this.voiture.dmc" #dmc="ngModel" [ngClass]="{ 'is-invalid': ( dmc.invalid) && dmc.touched }"
                required />
            <div *ngIf="(dmc.invalid) && dmc.touched" class="invalid-feedback">
                <div *ngIf="dmc.errors.required">DMC Obligatoire !!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPuissance">Puissance</label>
            <input type="text" class="form-control" id="exampleInputPuissance" placeholder="Puissance" name="puissance"
                [(ngModel)]="this.voiture.puissance" #puissance="ngModel" [ngClass]="{ 'is-invalid': ( puissance.invalid) && puissance.touched }"
                required />
            <div *ngIf="(puissance.invalid) && puissance.touched" class="invalid-feedback">
                <div *ngIf="puissance.errors.required ">Puissance Obligatoire !!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputService">Service</label>
            <input type="text" class="form-control" id="exampleInputRegion" placeholder="Service" name="service"
                [(ngModel)]="this.voiture.service" #service="ngModel" [ngClass]="{ 'is-invalid': ( service.invalid) && service.touched }"
                required />
            <div *ngIf="service.invalid && service.touched" class="invalid-feedback">
                <div *ngIf="service.errors.required">Service Obligatoire !!</div>
            </div>
        </div>

        <div class="modal-footer">
            <!-- <input type="submit" class="btn btn-primary" value="add" (click)="closeReload()"> -->
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Modifier</button>
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
        </div>
    </div>
</form> 
<form *ngIf="this.id===-1&&!this.voiture" name="fadd" (ngSubmit)="onSubmit(fadd)" #fadd="ngForm" novalidate>

    <div  class="modal-body" >
        <div class="form-group">
            <label for="exampleInputMat">Matricule</label>
            <input type="text" class="form-control" id="exampleInputMat" 
            placeholder="Matricule" name="matricule"
            required ngModel #matricule="ngModel"
                 />
            
        </div>
        
        <div class="form-group">
            <label for="exampleInputType">Type</label>
            <input type="email" class="form-control" 
            id="exampleInputType" placeholder="Type" name="type"
            required ngModel #type="ngModel"

                />
           
        </div>
        <div class="form-group">
            <label for="exampleInputDMC">DMC</label>
            <input type="date" class="form-control" id="exampleInputDMC" 
            placeholder="DMC" name="dmc" 
            required ngModel #dmc="ngModel"

               />
            
        </div>
        <div class="form-group">
            <label for="exampleInputPuissance">Puissance</label>
            <input type="text" class="form-control" id="exampleInputPuissance" 
            placeholder="Puissance" name="puissance"
            required ngModel #puissance="ngModel"

                />
           
        </div>
        <div class="form-group">
            <label for="exampleInputService">Service</label>
            <input type="text" class="form-control" id="exampleInputService" 
            placeholder="Service" name="service"
            required ngModel #service="ngModel"

                 />
          
        </div>

       
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Confirmer</button>
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
        </div>
    </div>
</form>

<div class="modal-body" *ngIf="this.show&&this.voiture">
    <div class="form-group">
        <label for="exampleInputMat">Matricule</label>
        <p>
            {{this.voiture.matricule}}
        </p>
       
    </div>
    <div class="form-group">
        <label for="exampleInputType">Type</label>
        <p>
            {{this.voiture.type}}
        </p>
    </div>
    <div class="form-group">
        <label for="exampleInputDMC">DMC</label>
        <p>
            {{this.voiture.dmc}}
        </p>
    </div>
    <div class="form-group">
        <label for="exampleInputPuissance">Puissance</label>
        <p>
            {{this.voiture.puissance}}
        </p>
    </div>
    
    <div class="form-group">
        <label for="exampleInputService">Service</label>
        <p>
            {{this.voiture.service}}
        </p>
       
    </div>
   

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
    </div>
</div>
