<div>

    <diV>
        <h4>Direction Maintenance  <span style="float: right;margin-right: 100px;">Tunis le {{date2}}</span> </h4>
       <h4>Département affaires Générales </h4>
    </diV>
    <br><br><br><br><br>
    <div style="  font-weight: 2000;text-decoration: underline;text-align: center;"> <h3>DECLARATION DE PANNE </h3></div>
    <br><br><br><br><br>
    <h4>Véhicule : </h4>
    <h4> Plaque : </h4>
    <h4>Affectation : </h4>
    <h4>Chauffeur : </h4>
    <h4>Index KM : </h4>
    <h4> Nature de panne : </h4>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    <h4 style="margin-left: 80px;">Signture du Chauffeur  <span style="float: right;margin-right: 80px;">Autorisations </span></h4>
    </div>