<div>
    <div>
        <h4> DIRECTION MAINTENACE</h4> <br>
        <h4>DEPPARTEMENT AFAIRE GENERALE</h4><br>
     <center><h3>ORDERE DE SERVICE </h3></center>   <br>
     <br><br><br><br><br>
     <table>
    
    <tr>
        <td> MATRICULATION DE VEHICULE :  </td>
        <td>  ..........................................................................................................................</td>
    </tr>
    
    <br>
    <tr>
        <td> MODELE DE VEHICULE :</td>
        <td>  ..........................................................................................................................</td>
    </tr>
    <tr><br></tr>
    <tr>
        <td> CHAUFFEURE :</td>
        <td>  ..........................................................................................................................</td>
    </tr>
    <tr><br></tr>
    
    <tr>
        <td> NATURE DE SERVICE :</td>
        <td>  ..........................................................................................................................</td>
    </tr>
    <tr><br></tr>
    
    <tr>
        <td>  ARTICLE LIVREE :</td>
        <td>  ..........................................................................................................................</td>
    </tr>
    
    
     </table>
     
    
    </div>
    <br><br><br><br>
    <h4 style="float: right;margin-right: 80px;">CACHET ET SIGNATURE </h4>
    
    
    
    
    </div>