<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-4  ">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-notebook bg-c-blue card1-icon"></i>
        <!-- <span class="text-c-blue f-w-600">Use space</span> -->
        <h4>{{this.nbCarnet}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-notebook m-r-10"></i>Carnet de board
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-4 ">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-briefcase bg-c-green card1-icon"></i>
        <h4>{{this.nbMissionsTerminees}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-green f-16 icofont icofont-briefcase m-r-10"></i>Missions terminées
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <div class="col-md-6 col-xl-4 ">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-delivery-time bg-c-pink card1-icon"></i>
        <h4>{{this.nbMissionsAttente}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-delivery-time m-r-10"></i>Missions en attente
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
