<div class="">
  
  <!-- Page-header start -->
  <div class="page-header card">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <span>
            <i class="icofont icofont-group bg-c-blue card1-icon"></i>
          </span>
          <div class="d-inline">
            <span class="d-block">
              <h4>Gestion Des Chauffeurs</h4>
            </span>
            <span>                
              Dans cette page le chef service a l'accées de gestion et controle de tous les chauffeurs . 
            </span>
          </div>
        </div>
      </div>

      
      <div class="col-lg-4">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/dashboard/chefService']">
                <i class="icofont icofont-home"></i>
              </a>
            </li>
            <li  class="breadcrumb-item">
              <a [routerLink]="['/dashboard/chefService/chauffeur']">Gestion Des Chauffeurs</a>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>
  <!-- Page-header end -->
 
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Liste des chauffeurs actifs :'" [classHeader]="true" [blockClass]="'table-border-style'">
        <div style="float: right ;margin-right: 30px;">
          <button class="btn hor-grd btn-grd-primary" (click)="Ajouter()"><i
          class="icofont icofont-group"></i>Nouveau Chauffeur</button>
        </div>
        <div class="table-responsive">
  
        <div style="margin: 60px;overflow-x:auto;">
          
          <table class="table table-hover" >
            <thead>
              <ng-container matColumnDef="actions">
                <mat-header-cell  *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row" >
                     <button mat-button >Edit</button>
                </mat-cell>
              </ng-container>
              <tr style="text-align: center;">
                <th scope="col">Matricule</th>
                <th scope="col">Nom et Prénom</th>
                <th scope="col">Numéro de Télephone</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
               
              </tr>
            </thead>
            <ng-container *ngIf="this.chauffeursActif.length>0">
            <tbody *ngFor="let chauffeur of this.chauffeursActif| paginate: { itemsPerPage: 3, currentPage: p } ">
              <tr (dblclick)="showChauffeur(chauffeur,true)" style="text-align: center;">
                <th scope="row">{{chauffeur.matricule}}</th>            
                <td>{{chauffeur.nomPrenom}}</td>
                <td>{{chauffeur.tel}}</td>
                <td>{{chauffeur.email}}</td>
                <td>
                  <button class="btn hor-grd btn-grd-info" id="{{chauffeur.id_chauffeur}}" (click)="update(chauffeur)"><i
                      class="icofont icofont-edit-alt"></i>Modifier</button>&nbsp;
                  <button class="btn hor-grd btn-grd-danger" id="{{chauffeur.id_chauffeur}}" (click)="activerDesactiver(chauffeur.id_chauffeur,true)"><i
                      class="icofont icofont-close"></i>Désactiver</button>&nbsp;
                
                </td>
              </tr>
  
  
            </tbody>
            </ng-container>
            <ng-container *ngIf="this.chauffeursActif.length===0">
              <tbody >
                <tr style="text-align: center;">
                    <td colspan="5">
                      AUCUN CHAUFFEUR ACTIF !
                    </td>
                 
                </tr>
    
    
              </tbody>
              </ng-container>
         
          </table>
          <div *ngIf="this.chauffeursActif.length>0" style="text-align: center;">
            <hr>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>



        </div>
        </div>


        
      </app-card>
    </div>   
    </div>
