<ng-container *ngIf="this.voitureListActif">
  <div class="">
    
    <!-- Page-header start -->
    <div class="page-header card">
      <div class="row align-items-end">
        <div class="col-lg-8">
          <div class="page-header-title">
            <span>
              <i class="icofont icofont-car-alt-1 bg-c-blue card1-icon"></i>
            </span>
            <div class="d-inline">
              <span class="d-block">
                <h4>Gestion Des Voitures</h4>
              </span>
              <span>                
                Dans cette page le chef service a l'accés de gestion et controle de toutes les voitures . 
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="page-header-breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard/chefService']">
                  <i class="icofont icofont-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard/chefService/voitures']">Gestion Des Voitures</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Page-header end -->
   
    
    <div class="row">
      <div class="col-sm-12" >
        <app-card [title]="'Liste des voitures actives :'" [classHeader]="true" [blockClass]="'table-border-style'">
          <div style="float: right ;margin-right: 30px;">
            <button class="btn hor-grd btn-grd-primary"  (click)="Ajouter()"><i
            class="icofont icofont-car-alt-1"></i>Nouvelle Voiture</button>
          </div>
          <div class="table-responsive">
    
          <div style="margin: 60px;overflow-x:auto;">
            <table class="table table-hover" >
              <thead>
                <ng-container matColumnDef="actions">
                  <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                       <button mat-button >Edit</button>
                  </mat-cell>
                </ng-container>
                <tr style="text-align: center;">
                  <th scope="col">Matricule</th>
                  <th scope="col">Type</th>
                  <th scope="col">DMC</th>
                  <th scope="col">Puissance</th>
                  <th scope="col">Service</th>
                  <th scope="col">Actions</th>
                 
                </tr>
              </thead>
              <ng-container *ngIf="this.voitureListActif.length>0">
              <tbody *ngFor="let voiture of this.voitureListActif| paginate: { itemsPerPage: 3, currentPage: p } ">
                <tr (dblclick)="showVoiture(voiture)" style="text-align: center;">
                  <th scope="row">{{voiture.matricule}}</th>            
                  <td>{{voiture.type}}</td>
                  <td>{{this.controls.dateFormat(voiture.dmc)}}</td>
                  <td>{{voiture.puissance}}</td>
                  <td>{{voiture.service}}</td>
                  <td>
                    <button class="btn hor-grd btn-grd-info" id="{{voiture.id_voiture}}" (click)="update(voiture)"><i
                        class="icofont icofont-edit-alt"></i>Modifier</button>&nbsp;
                    <button class="btn hor-grd btn-grd-danger" id="{{voiture.id_voiture}}" (click)="activerDesactiver(voiture.id_voiture)"><i
                        class="icofont icofont-close"></i>Désactiver</button>&nbsp;
                  
                  </td>
                </tr>
    
    
              </tbody>  
            </ng-container>     
            <ng-container *ngIf="this.voitureListActif.length===0">
              <tbody >
                <tr style="text-align: center;">
                <td colspan="6">
                  AUCUNE VOITURE ACTIVE !
                </td>
                </tr>
    
    
              </tbody>  
            </ng-container>          
            </table>
            <div *ngIf="this.voitureListActif.length>0" style="text-align: center;">
              <hr>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
        </app-card>
      </div>

     

      
  
     
      </div>
    </ng-container>