<!-- Page-header start -->
<div class="">
  <div class="page-header card">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <span><i class="icofont icofont-printer bg-c-pink"></i></span>
          <div class="d-inline">
            <span class="d-block">
              <h4>Documents</h4>
            </span>
            <span>Dans Cette Page Le Chauffeur A L'accés d'imprimer Des Documents .</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/dashboard/chauffeur']">
                <i class="icofont icofont-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item">

              <a>Impression Des Documents</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page-header end -->

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Liste Des Documents :'">


      <div class="row" style="text-align: center;justify-content: center;">
        <!-- card1 start -->
        <div class="col-md-6 col-xl-4">
          <div class="h-100 d-inline-block card widget-card">
            <div class="card-block-small">

              <span class="text-c-blue f-w-600" style="text-align: center;">Déclaration des pannes</span>
              <h4 class="mt-5" style="text-align: left;text-align:justify;">Ce document est utile pour les déclarations
                des pannes</h4>
              <div class="offset-xl-1 ">
                <button class="mt-5 btn hor-grd btn-grd-warning" printSectionId="print-section" ngxPrint><i
                    class="icofont icofont-printer"></i>Imprimer</button>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="h-100 d-inline-block card widget-card">
            <div class="card-block-small">

              <span class="text-c-blue f-w-600" style="text-align: center;">Ordre de service</span>
              <h4 class="mt-5" style="text-align: left;text-align:justify;">Ce document est utile pour les ordres de
                service</h4>
              <div class="offset-xl-1">
                <button class="mt-5 btn hor-grd btn-grd-warning" printSectionId="print-section2" ngxPrint><i
                    class="icofont icofont-printer"></i>Imprimer</button>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="h-100 d-inline-block card widget-card">
            <div class="card-block-small">

              <span class="text-c-blue f-w-600" style="text-align: center;">Bon de prélèvement matériel</span>
              <h4 class="mt-5" style="text-align: left;text-align:justify;">Ce document est utile pour les bons de
                prélevement matériel</h4>
              <div class="offset-xl-1" style="margin-top: 22%;">

                <button class="btn hor-grd btn-grd-warning" printSectionId="print-section3" ngxPrint
                  [useExistingCss]="true" styleSheetFile="src\app\pages\chauffeur\documents\documents.component.scss"><i
                    class="icofont icofont-printer"></i>Imprimer</button>

              </div>
            </div>
          </div>
        </div>


      </div>

      <div id="print-section" style="display: none;">
        <app-document-dec-panne></app-document-dec-panne>
      </div>
      <div id="print-section2" style="display: none;">
        <app-document-order-service></app-document-order-service>
      </div>
      <div id="print-section3" style="display: none;">
        <app-document-prelevement-matr></app-document-prelevement-matr>
      </div>
    </app-card>
  </div>
</div>
