
<style type="text/css" media="print">
    @page { size: landscape;}
    body { 
        writing-mode: tb-rl;
        color: tomato;
    }
  </style>
  <!-- <h4 style="margin-left: 80px;">Signture du Chauffeur  <span style="float: right;margin-right: 80px;">Autorisations </span></h4> -->
  <div>
      <div style="float: left;text-align: center;">
   
<P>SOCIETE NAYIONALE<br> DE DISTRIBUTION DES PETROLES </P>    


      </div>
    <div style="text-align: center">
<h3 style="text-align: center;margin-left: 100px;">BON DE PRELEVMENT MATERIEL</h3>
      <br><br>
      <table>
          <tr>
              <td style="text-align: center;"><span > SIEGE<br>Av Mohamed Ali Akid<br>Cité Olympiquz -1003 Kl kHADRA<br> B P 762 Tunis Cedex 1080-RC B199611996TT <br> Tel :71 70 32 22 - 71 70 72 22 <br>Fax : 71 70 43 33</span></td>
          <td><div style="text-align: center;margin-left: 120px ;"><h1>34155</h1></div></td>
            </tr>

      </table>
</div>


    <div style="display: flex;align-items: center;">
<div style="margin-left:400px">

Depot:...................................

</div>

<div style="margin-left:200px"> 
    <table style="width: 250px;" border="1">
        <tbody>
        <tr style="height: 22px;text-align: center;">
        <td style="width: 125px; height: 22px; text-align: center;">&nbsp;N&deg; BON</td>
        <td style="width: 125px; height: 22px;">&nbsp;DATE</td>
        </tr>
        <tr style="height: 70px;">
        <td style="width: 125px; height: 67.4px; ">&nbsp;</td>
        <td style="width: 125.4px; height: 67.4px;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <!-- DivTable.com -->
        <br>
</div>
    </div>
    




  </div>
<table style="width: 100%; margin-left: auto; margin-right: auto;" border="1" cellspacing="20;text-align: center;"><caption>&nbsp;</caption>
<tbody>
<tr style="height: 22.4px;">
<td style="width: 78px; height: 44.4px;" rowspan="2">&nbsp;CATALOGUE</td>
<td style="width: 78px; height: 44.4px;" rowspan="2">&nbsp;DESIGNATION</td>
<td style="width: 78px; height: 44.4px;" rowspan="2">&nbsp;DESINATION<br />&nbsp; &nbsp; &nbsp; &nbsp; DU<br />&nbsp; MATERIEL</td>
<td style="width: 78px; height: 44.4px;" rowspan="2">&nbsp; CODE</td>
<td style="width: 78px; height: 44.4px;" rowspan="2">&nbsp;COMPTES</td>
<td style="width: 78px; height: 44.4px;" rowspan="2">&nbsp; ETAT</td>
<td style="width: 78px; height: 44.4px;" rowspan="2">
<p>&nbsp; CENTRE&nbsp; &nbsp; DE</p>
<p>&nbsp;COUT</p>
</td>
<td style="width: 78px; height: 44.4px;" rowspan="2">&nbsp;MATRICULE</td>
<td style="width: 78px; height: 22.4px;" colspan="2">&nbsp;QUANTITE</td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;">&nbsp;DEMANDEE</td>
<td style="width: 78px; height: 22px;">&nbsp;LIVREE</td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
</tr>
<tr style="height: 22px;">
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
<td style="width: 78px; height: 22px;"><hr></td>
</tr>
</tbody>
</table>
<!-- DivTable.com -->
<p>&nbsp;</p>

<div>

<h4> ENTRETIEN :    <span>--------------------------------------------------</span></h4><br>
<h4>INVESTISSMENT : <span>--------------------------------------------------</span></h4><br>
<h4>REMPLACEMENT :  <span>--------------------------------------------------</span></h4><br>
<h4>CHANTIER :      <span>--------------------------------------------------</span></h4><br>
<h4>A FACTURER :     <span>--------------------------------------------------</span></h4><br>
<h4>--------------------------------------------------</h4>




</div>
<br>
<br><br><br><br>

<div style="align-items: center;margin-left: 110px;">
<table style="height: 144px; float: left;" border="1" width="670">
    <tbody>
    <tr>
    <td style="width: 167.2px;">AUTORISATION</td>
    <td style="width: 167.2px;">&nbsp;DEMANDEUR</td>
    <td style="width: 167.2px;">&nbsp;RECEPTIONNAIRE</td>
    <td style="width: 167.2px;">&nbsp;MAGASINIER</td>
    </tr>
    </tbody>
    </table>

</div>